@import 'style/global';
@import 'style/utils';
@import 'style/variable';

// HEADER

header{
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 14px;

    img{
      width: 80%;
    }

    ul{
      display: flex;
    }

    li{
      list-style: none;
      margin-right: 30px;

      a{
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        padding: 36px 0;

        &:hover{
          color: $primary-color;
        }

        &.active{
          color: $primary-color;
          border-bottom: 6px solid $primary-color;
        }

      }


    }

  }


// MAIN

  main{
    // width: 80%;
    margin: 0 auto;
    background-color: #1C1C1C;
    color: white;

    .hero-section{
    //   background-image: url({{url('img/jumbotron.dac2f96c.jpg')}});
      background-size: cover;
      height: 400px;
      width: 100%;
      position: relative;

      button{
        position: absolute;
        bottom: -24px;
        left: 217px;

        background-color: $primary-color;
        border: none;
        padding: 15px;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        font-size: 16px;

      }

    }

    .card-section{
      width: 70%;
      margin: 0 auto;
      padding: 45px 10px;
      display: flex;
      flex-wrap: wrap;


      // .card-element{

      //   width: calc((100% / 6) - 20px);
      //   margin: 0px 10px;
      //   margin-bottom: 40px;

      //   img{
      //     margin-bottom: 10px;
      //     width: 100%;

      //   }

      //   span{
      //     text-transform: uppercase;
      //   }

      // }


    }

    .load-more-button-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      margin-top: -50px;


      .load-more-button{
        background-color: $primary-color;
        border: none;
        padding: 10px 45px;
        color: white;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;

        cursor: pointer;
      }

    }



  }


//CARDS

.card-element{

    width: calc((100% / 6) - 20px);
    margin: 0px 10px;
    margin-bottom: 40px;

    img{
      margin-bottom: 10px;
      width: 100%;

    }

    span{
      text-transform: uppercase;
      font-size: 14px;
    }

}
